<html xmlns:th="https://www.thymeleaf.org">
<body>
<div>
    <form method="POST" enctype="multipart/form-data" action="/signin">
        <table>
            <tr><td><label for="to">Username</label></td>
                <td><input name="username" id="username"></td></tr>
            <tr><td><label for="to">Password</label></td>
                <td><input name="password" id="password"></td></tr>
            <tr><td></td><td><input type="submit" value="Login" /></td></tr>
        </table>
    </form>
</div>
</body>
</html>